@charset "UTF-8";
/* CSS Stylesheet */

/* Page elements */

#secondary {
	height: auto;
	padding: 5px 5px 5px 15px;
}
#secondary text {
	align:left; 
	width:100%; 
	max-width:360px; 
	float:right;
}
#secondary timeline {
	align:left; 
	width:100%; 
	max-width:360px; 
	float:right;
}
#video {
	padding: 5px 5px 5px 5px;
	width:100%; 
	max-width:480px; 
	height:360px;
	color:#FFF;
}
#continue {
	padding: 5px 5px 5px 5px;
	width:100%; 
	max-width:480px; 
	height:360px; 
	background-color:black;
	color:#FFF;
}
#audio {
	padding: 5px 5px 5px 5px;
	height: auto;
}