@charset "UTF-8";
/* CSS Stylesheet */

/* Page elements */

#secondary {
	height: auto;
	padding: 5px 5px 5px 15px;
}
#video {
	padding: 5px 15px 5px 5px;
}
#audio {
	padding: 5px 5px 5px 5px;
	height: auto;
}
#whatsthat {
	padding: 5px 5px 5px 15px;
	height: auto;
}
#dig {
	padding: 5px 5px 5px 15px;
	height: auto;
}
#chapters {
	padding: 5px 5px 5px 5px;
	height: 100px;
}